* {
	border: none;
  font-family: "JetbrainsMono Nerd Font" ;
	font-size: 16px;
}

window#waybar {
	background: black;
  }

window#waybar.hidden {
	opacity: 0.2;
}
 
#custom-launcher {
	font-size: 24px;
  color: #59ACFF;
  padding-left: 16px;
  padding-right: 24px;
  border-radius: 4px;
  background: #372736;
  border: 2px solid black;
}

#cpu {
	margin-top: 4px;
	margin-left: 16px;
  margin-right: 8px;
  color: white;
}

#memory, #battery, #backlight, #pulseaudio, #temperature {
	margin-top: 4px;
	margin-left: 8px;
  margin-right: 8px;
  color: white;
}

#temperature {
  color: #F28FAD; 
}

#temperature.critical {
  color: red;
}

#battery.good {
  color: #99acff;
}

#battery.medium {
  color: #b0fc38;
}

#battery.low {
  color: red;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging, #battery.plugged {
    color: #59acff;
}

#battery.low:not(.charging) {
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
  color: yellow;
}

#pulseaudio {
  color: white;
}

#workspaces{
	background: #372736; 
  border-radius: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

#workspaces button{
	color: #F28FAD;
}

#workspaces button.active{
  color: black;
  background: #cc7dff;
}

#workspaces button.empty {
	color: black;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #FAE3B0;
}

#workspaces button.active:hover {
  color: #E8A2AF;
}

#clock {
	margin-top: 4px;
	margin-left: 16px;
  margin-right: 16px;
  color: #abe9b3;
}

#tray {
	margin-left: 8px;
  margin-right: 8px;
	padding: 10px;
	border-radius: 50%;
	background: #372736;
}

#bluetooth {
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 14px;
  padding-right: 14px;
  background: #372736;
  border-radius: 8px;
  color: white;
}

#bluetooth.on {
  color: blue;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 50%;
}

#bluetooth.off {
  border-radius: 50%;
}

#bluetooth.connected {
  color: #59acff;
}


#custom-power {
  font-size: 18px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 4px;
	border-radius: 50%;
  color: white;
  background: red;
}

@keyframes blink {
    to {
        color: #ffffff;
    }
}

