* {
  border: none;
  font-family: "FiraMono Nerd Font";
  font-size: 17px;
}

window#waybar {
  background: black;
}

#custom-launcher {
  font-size: 26px;
  color: #59acff;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  background: #372736;
  border-bottom: 2px solid black;
}

#cpu,
#memory,
#battery,
#backlight,
#temperature {
  margin-left: 8px;
  margin-right: 8px;
  color: white;
}

#pulseaudio {
  color: #b0fc38;
  margin-left: 8px;
  margin-right: 8px;
}

#network {
  margin-left: 8px;
  margin-right: 8px;
  color: orange;
}

#temperature.critical {
  color: red;
}

#battery {
  color: #3ded97;
}

#battery.low {
  color: red;
}

#battery.charging,
#battery.plugged {
  color: #59acff;
}

#battery.low:not(.charging) {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight {
  color: yellow;
}

#window {
  font-weight: bolder;
  color: white;
}

#tags {
  background: #372736;
  border-radius: 4px;
}

#tags button {
  color: gold;
}

#tags button.occupied {
  color: #59acff;
}

#tags button.focused {
  color: #59acff;
  border: 1px solid #59acff;
}

#tags button.focused:hover {
  color: #59acff;
}

#tags button:hover {
  color: #b0fc38;
}

#clock {
  margin-left: 16px;
  margin-right: 16px;
  color: #abe9b3;
}

#bluetooth {
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 14px;
  padding-right: 14px;
  background: #372736;
  border-radius: 50%;
  color: white;
}

#bluetooth.on {
  color: blue;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 50%;
}

#bluetooth.off {
  border-radius: 50%;
}

#bluetooth.connected {
  color: #59acff;
  border-radius: 15px;
}

#custom-power {
  font-size: 28px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50%;
  color: white;
  background: red;
}

@keyframes blink {
  to {
    color: #ffffff;
  }
}
